@media screen and (max-width: 1200px) {
  :root {
    --inline-padding: 12rem;
    --margin-block: 4rem;
  }

  .hero__content .hero__title a{
    font-size: 3rem;
  }
}

@media screen and (max-width: 900px) {
  :root {
    --inline-padding: 6rem;
    --margin-block: 3rem;
  }

  .header__logo{
    width: 16rem;
  }
  
  /* nav */
  .header__nav_bar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: white;
    color: black;
    display: none;
  }
  .header__nav_bar.menu-opened{
    display: block;
  }
  .header__nav_bar .header__main-menu{
    flex-direction: column;
    gap: 0;
    margin-top: 0;
  }
  .header__main-menu .header__nav_option{
    padding-inline: var(--inline-padding);
    padding-block: 1.6rem;
    border-bottom: 1px solid var(--soft-gray);
  }
  .header__main-menu .header__nav_option .fa-chevron-down{
    rotate: -90deg;
    color: var(--accent-color);
    margin-left: 10px;
  }
  .header__hamburger-menu{
    display: flex;
    font-size: 2.4rem;
    cursor: pointer;
  }
  .header__search_option .fa-search{
    display: block;
    font-size: 2rem;
  }



  /* hero */
  .hero__section .hero__content{
    max-width: 80%;
    bottom: 2rem;
  }

  /* carousel */
  .card-trio{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .carousel-next-btn{
    right: -5rem;
  }
  .carousel-prev-btn{
    left: -5rem;
  }
  




  /* cards */
  .mobile-horizontal-card{
    flex-direction: row;
  }
  .mobile-horizontal-card .card__media{
    width: 40%;
    min-width: 30%;
    order: 2;
  }
  .mobile-horizontal-card .img-6_9{
    padding-top: 0;
    height: 100%;
  }
  .mobile-horizontal-card .card-title{
    font-size: 1.6rem;
  }



  /* util */
  .hide-on-tablet{
    display: none;
  }
  .hero__content .hero__meta{
    gap: 1.6rem;
  }
  .meta{
    font-size: 1rem;
  }
  p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --inline-padding: 2rem;
    --margin-block: 2rem;
  }

  .header__logo{
    width: 12rem;
  }

  /* hero */
  .hero__section .hero__content{
    gap: 1.6rem;
  }
  .hero__content .hero__title a{
    font-size: 2rem;
  }
  .hero__section{
    height: 60vh;
    min-height: 60vh;
    max-height: 60vh;
  }


  .hide-on-mobile{
    display: none;
  }
}