@media screen and (max-width: 1200px) {
    :root {
        --inline-padding: 12rem;
        --margin-block: 4rem;
        --header-height: 150px;
    }

    .hero__content .hero__title a {
        font-size: 3rem;
    }

    .email-collector .email-input {
        flex-direction: column;
        border-radius: 0px;
        gap: 0.5rem;
        overflow: hidden;
    }
    .email-collector .email-input input[type="email"] {
        background-color: var(--off-white-color);
        border-radius: 3px;
        padding: 0.7rem 1.2rem;
        font-size: 1.6rem;
        flex-grow: 1;
    }

    .email-collector .email-input input[type="email"]::placeholder {
        opacity: 0.8;
    }
    .email-collector .email-input button {
        border-radius: 3px;
        padding: 0.7rem 1.5rem;
        font-size: 1.5rem;
        background-color: var(--accent-color);
        color: white;
    }

    /* footer */
    footer .footer-section {
        padding-block: calc(var(--margin-block) * 0.75);
    }
}

@media screen and (max-width: 768px) {
    :root {
        --inline-padding: 6rem;
        --margin-block: 3rem;
        --header-height: 90px;
    }

    .header__logo {
        width: 16rem;
    }

    /* nav */
    .header__nav_bar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        height: 100vh;
        background-color: white;
        color: black;
        display: none;
    }
    .header__nav_bar.menu-opened {
        display: block;
    }
    .header__nav_bar .header__main-menu {
        flex-direction: column;
        gap: 0;
        margin-top: 0;
    }
    .header__nav_option-container,
    .header__submenu .submenu-item-container,
    .header__subsubmenu .subsubmenu-item-container {
        border-bottom: 1px solid var(--soft-gray);
    }
    .header__main-menu .header__nav_option,
    .header__submenu .submenu-item {
        padding-block: 1.6rem;
        width: 100%;
    }
    .header__main-menu .header__nav_option .fa-chevron-down,
    .header__submenu .fa-chevron-right,
    .header__submenu .submenu-item .fa-angles-right {
        opacity: 1;
        color: var(--accent-color);
        margin-left: 10px;
    }
    .header__main-menu .header__nav_option .fa-chevron-down {
        rotate: -90deg;
    }
    .header__hamburger-menu {
        display: flex;
        font-size: 2.4rem;
        cursor: pointer;
    }
    .menu-opened .header__submenu {
        top: 0;
        left: 100%;
        background: white;
        height: 100% !important;
        width: 100%;
    }
    .submenu-opened .header__submenu {
        left: 0;
    }
    .header__placeholders-wrapper {
        display: block;
        max-width: 100% !important;
    }
    .header__submenu__placeholder,
    .header__subsubmenu__placeholder {
        padding: 0;
    }

    .header__placeholders-wrapper .header__submenu__separator {
        display: none;
    }
    .header__placeholders-wrapper .header__subsubmenu__placeholder {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 100%;
        background-color: white;
    }
    .subsubmenu-opened
        .header__placeholders-wrapper
        .header__subsubmenu__placeholder {
        left: 0;
    }
    .header__submenu__content .submenu-list,
    .header__subsubmenu__content .submenu-list {
        max-width: 100%;
        gap: 0;
        font-size: 1.6rem;
    }
    .submenu-back-btn,
    .subsubmenu-back-btn {
        cursor: pointer;
    }
    .submenu-back-btn .fa-chevron-left,
    .subsubmenu-back-btn .fa-chevron-left {
        font-size: 1.2rem;
        opacity: 0.7;
    }
    .submenu-mobile-header {
        padding-block: 1.6rem;
    }

    .header__search_btn .fa-search {
        display: block;
        font-size: 2rem;
    }

    /* hero */
    .hero__section {
        height: 75vh;
        min-height: 75vh;
        max-height: 75vh;
    }

    .hero__section .hero__content {
        gap: 0.4rem;
    }

    .hero-summary__image-credit {
        display: none;
    }

    /* report card */
    .card__tag-floating {
        position: static;
        padding: 0;
        background-color: transparent;
        color: var(--accent-color);
    }

    /* carousel */
    .card-trio {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .carousel-next-btn {
        right: -5rem;
    }
    .carousel-prev-btn {
        left: -5rem;
    }

    /* cards */
    .mobile-horizontal-card {
        display: flex;
        flex-direction: row !important;
    }
    .mobile-horizontal-card .card__media {
        width: 35%;
        min-width: 35%;
        border-radius: var(--card-border-radius) 0 0 var(--card-border-radius);
        overflow: hidden;
    }
    .mobile-horizontal-card .img-6_9 {
        padding-top: 0;
        height: 100%;
    }
    .mobile-horizontal-card .card-title {
        font-size: 1.6rem;
    }

    /* article details */
    .article-hero__header__title {
        font-size: 2rem;
        font-weight: 700;
    }
    .article-hero__header {
        margin-bottom: 1rem;
    }
    .article-hero__metadata .meta {
        font-size: 1rem;
    }

    /* breadcrumbs */
    .bread-crumbs-container {
        padding-top: 2rem;
    }
    .bread-crumb,
    .bread-crumbs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.8rem;
    }

    .bread-crumb .chip {
        padding: 0;
        color: #675b5bcc;
        background-color: transparent;
        font-weight: 700;
    }


    /* secondary hero title banner */
    .hero__secondary__content .hero__secondary__content__page-title{
        font-size: 2rem;
        margin-bottom: 0;
    }
    .hero__secondary .logo-accent{
        width: 120px;
    }

    /* footer */
    footer .social-reach {
        flex-direction: column;
        justify-content: start;
        gap: 40px;
    }
    footer .social-reach .email-collector {
        max-width: 100%;
    }
    footer .social-reach .social-follow {
        max-width: 100%;
    }

    /* util */
    .hide-on-mobile {
        display: none !important;
    }
    .hero__content .hero__meta {
        gap: 1.6rem;
    }
    .meta {
        font-size: 1rem;
    }
    p {
        font-size: 1.3rem;
    }

    /* stats section */
    .stats-card-content {
        flex-direction: column;
        align-items: start;
        gap: 0rem;
    }
    .stats-card-content .stat-description {
        margin-top: 0.5rem;
    }
    .stats-card:nth-child(even) .stat-numeric {
        order: 0;
    }
    .stats-card:nth-child(even) .stat-description {
        text-align: left;
    }
    .stats-container {
        gap: 4rem;
    }
    .stats-container .stats-header {
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
    }

    .event-metadata-wrapper {
        width: fit-content;
        position: static;
        transform: none;
        gap: 0.5rem;
    }
    .event-metadata__play-icon {
        display: grid;
        place-items: center;
        height: 100%;
        width: 5rem;
        border-radius: 3px;
        background-color: var(--accent-color);
        color: var(--off-white-color);
    }
    .event-metadata__datetime {
        display: flex;
        width: fit-content;
        align-items: center;
        padding: 3px 6px;
        flex-direction: row;
        gap: 5px;
        color: var(--off-white-color);
    }
    .event-metadata__datetime span:nth-of-type(1) {
        font-size: 1.1rem;
        font-weight: 600;
        white-space: auto;
    }
    .event-metadata__location {
        width: fit-content;
        letter-spacing: 2px;
        position: static;
        transform: none;
        padding: 3px 6px 0px 6px;
        border-radius: 3px;
        font-weight: 700;
        font-size: 1rem;
    }

    /* supprt us banner */
    .support-us-banner .support-us-banner__media-container {
        height: 20vw;
    }



    .event-metadata__play-icon{
        position: absolute;
        left: 6px;
        bottom: 6px;
        width: 30px;
        font-size: 9px;
        height: 23px;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --inline-padding: 2rem;
        --margin-block: 4rem;
        --header-height: 77px;
    }

    .header__logo {
        width: 12rem;
    }

    /* hero */
    .hero__section {
        height: 85vh;
        min-height: 85vh;
        max-height: 85vh;
    }

    /* events card metadata */
    .event-metadata-wrapper {
        width: fit-content;
        position: static;
        transform: none;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 0.5rem;
    }

    /* supprt us banner */
    .support-us-banner .support-us-banner__media-container {
        height: 25vw;
    }
}

@media screen and (min-width: 768px) {
    .hide-on-desktop {
        display: none !important;
    }
}
