* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    --inline-padding: 18rem;
    --margin-block: 10rem;

    --accent-color: #c20002;
    --off-white-color: #ecedf2;
    --soft-gray: #e6e6e6;
    --type-color: #101010;

    --swiper-theme-color: var(--accent-color);

    --carousel-items-spacing: 1rem;
    --card-border-radius: 6px;
    --header-height: 150px;

    --hero-mask-gradient: linear-gradient(
        180deg,
        #1e1e1e 0%,
        rgba(30, 30, 30, 0) 54.17%,
        #1e1e1e 100%
    );;
    --underline-gradient: linear-gradient(90deg, #e60000, #4d0101);
    --accent-gradient: linear-gradient(135deg, #8c1311, #e4322f);

    --container-width: calc(100vw - calc(2 * var(--inline-padding)));

    /* bootstrap customizations */
    --bs-body-bg: #ecedf2;
}

body {
    font-family: calibre, helvetica, arial, sans-serif;
    font-weight: 400;
    color: var(--type-color);
    background-color: var(--off-white-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.3rem;
}

/*
*
*
*
utility
*
*
*
*/
.pad-header-height {
    padding-top: var(--header-height);
}
.pad-header-height.block-section {
    margin-top: calc(var(--margin-block) * 0.5);
}

.img {
    position: relative;
}

.img-6_9 {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
    height: 0;
}

.img img,
.img-6_9 img {
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    object-fit: cover;
}
.img-contain img {
    object-fit: contain;
}
.img-contain img {
    object-fit: contain;
}

.meta {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 1.3;
    font-size: 1rem;
    font-weight: 600;
    color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.45rem;
}

a {
    text-decoration: none !important;
    color: unset;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
input {
    all: unset;
}
.link:hover {
    text-decoration: underline;
}
.accent-gradient {
    background: var(--accent-gradient);
    color: var(--off-white-color);
}
.underline-effect {
    width: 100%;
    background-image: var(--underline-gradient);
    background-repeat: no-repeat;
    background-size: 0 0.15rem;
    background-position: 0 100%;
    transition: background-size 0.6s ease-in-out 0s;
}
.underline-effect:hover {
    background-size: 100% 0.15rem;
    text-decoration: none;
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.card-title {
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 98%;
}
.card-subtitle {
    font-size: 1.3rem;
    font-weight: 400;
}
.text-secondary {
    opacity: 0.85;
}

/*
*
*
*
hero
*
*
*
*/
.hero__section {
    height: 90vh;
    min-height: 90vh;
    max-height: 90vh;
    overflow: hidden;
    position: relative;
}

.hero__section .hero__image {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
}
.hero__section .hero__image::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--hero-mask-gradient);
}
.scroll-down-indicator {
    width: 3.5rem;
}
.hero__section .hero__content {
    color: var(--off-white-color);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.hero__section .hero__content a,
.hero__section .hero__content p,
.hero__section .hero__content h1 {
    color: var(--off-white-color);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.hero__content .hero__title a {
    font-size: 4rem;
    font-weight: 800;
    line-height: 108.5%;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.hero__content .hero__meta {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    color: var(--off-white-color);
}

/*
*
*
*
sections
*
*
*
*/
.block-section {
    margin-block: var(--margin-block);
}
.block-inner-container {
    padding-block: var(--margin-block);
}
.section-title {
    margin-bottom: 2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-title .section-title__desctiption {
    font-weight: normal;
    margin-top: 1rem;
    max-width: 90ch;
}
/*
*
*
*
cards
*
*
*
*/
.card {
    border-radius: var(--card-border-radius);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.3s ease;
    border: none !important;
}

.card__media {
    position: relative;
    overflow: hidden;
    border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
}

.card__header {
    margin-bottom: 1rem;
}
.card__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 1;
}
.card__body {
    display: flex;
    flex-direction: column;
    padding: 1.65rem;
    position: relative;
}

.card__tag {
    margin-bottom: 0.6rem;
}
.card__tag-floating {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    padding: 4px 12px;
    background-color: var(--accent-color);
    color: var(--off-white-color);
    border-radius: var(--card-border-radius);
    margin-bottom: 0;
}
.card__footer {
    margin-top: auto;
    padding: 1.65rem;
}

/* horizontal card */
.card.horizontal-card {
    flex-direction: row;
    height: 100%;
}
.card.horizontal-card .img-6_9 {
    padding-top: 0px;
    height: 100%;
}
.card.horizontal-card .card__media {
    min-width: 40%;
    border-radius: var(--card-border-radius) 0 0 var(--card-border-radius);
}
.card.horizontal-card .card__summary {
    display: none;
}

/* book card */
.book-card .img-6_9 {
    padding-top: 100%;
}

.row .card {
    height: 100%;
}
/* stikcy card */
.row .sticky-card {
    height: fit-content;
}
.sticky-card {
    position: sticky;
    top: 16rem;
}

.event-metadata-wrapper {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 60%);
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.2rem;
}
.event-metadata {
    position: relative;
    background-color: var(--accent-color);
    border-radius: var(--card-border-radius);
}
.event-metadata__play-icon {
    display: grid;
    place-items: center;
    height: 100%;
    width: 5rem;
    border-radius: var(--card-border-radius);
    background-color: var(--accent-color);
    color: var(--off-white-color);
}
.event-metadata__datetime {
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 3px 20px;
    flex-direction: column;
    color: var(--off-white-color);
}
.event-metadata__datetime span:nth-of-type(1) {
    font-size: 1.6rem;
    font-weight: 600;
    white-space: nowrap;
}
.event-metadata__datetime span:nth-of-type(2) {
    font-size: 1.1rem;
    font-weight: 800;
    opacity: 0.6;
}

.event-metadata__location {
    text-transform: uppercase;
    letter-spacing: 3px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: var(--off-white-color);
    color: var(--accent-color);
    padding: 3px 15px 0px 15px;
    border-radius: 5px 5px 0 0;
    font-weight: 700;
    font-size: 1rem;
}

/* another variant of event metadata */
.event-metadata__datetime__variant-raw-text {
    color: var(--accent-color);
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
}

.event-metadata__datetime__variant-raw-text .day-of-month {
    font-size: 4rem;
    font-weight: 600;
    line-height: 0.8;
}

.event-metadata__datetime__variant-raw-text .rest-of-date {
    font-weight: 600;
    font-size: 1.3rem;
}

/* support-us-banner */
.support-us-banner {
    border-radius: var(--card-border-radius);
    background-color: white;
    overflow: hidden;
}

.support-us-banner .support-us-banner__content {
    padding: 30px 40px;
}
.support-us-banner .support-us-banner__content h2 {
    margin-bottom: 1rem;
}

.support-us-banner .support-us-banner__media-container .support-us-cta {
    position: absolute;
    top: 50%;
    left: 5rem;
    transform: translateY(-50%);
    background-color: var(--accent-color);
    color: white;
    padding: 0.8rem 2rem;
    border-radius: 4px;
}

/*
*
*
*
carousel swiper
*
*
*
*/
.carousel-container {
    position: relative;
}
.swiper {
    position: relative;
}
.swiper .swiper-wrapper {
    position: relative;
    display: flex;
    padding-bottom: 40px;
}
.swiper-wrapper .swiper-slide {
    height: 100%;
}
.swiper-pagination {
    bottom: -22px !important;
}
.carousel-prev-btn,
.carousel-next-btn {
    display: grid;
    place-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;

    position: absolute;
    top: 50%;
    translate: 0 -50%;
}
.carousel-prev-btn:hover,
.carousel-next-btn:hover {
    background-color: var(--soft-gray);
}
.carousel-prev-btn svg,
.carousel-next-btn svg {
    width: 2rem;
    height: 2rem;
}
.carousel-prev-btn svg path,
.carousel-next-btn svg path {
    stroke: var(--accent-color);
}
.carousel-next-btn {
    right: -5rem;
    padding-left: 0.3rem;
}
.carousel-prev-btn {
    left: -5rem;
    padding-right: 0.3rem;
}
/*
*
*
*
stats section
*
*
*
*/
.stats-field {
    color: white;
    background-image: var(--accent-gradient);
    position: relative;
    overflow: hidden;
}
.stats-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-block: calc(var(--margin-block) * 0.5);
}

.stats-field-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.stats-card {
    background-color: #0001;
    border: 1px solid #0003;
    border-radius: var(--card-border-radius);
    backdrop-filter: blur(50px);
    padding: 10px 20px;
    display: flex;
}
.stats-card:nth-child(even) {
    align-self: end;
    justify-content: end;
}
.stats-card:nth-child(even) .stat-numeric {
    order: 2;
}

.stats-card:nth-child(even) .stat-description {
    text-align: right;
}

.stats-card-content {
    --stat-number-font-size: 6rem;
    --calculated-margin-block: calc(0.35 * var(--stat-number-font-size));
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-bottom: var(--calculated-margin-block);
}
.stats-card-content .stat-numeric {
    font-size: var(--stat-number-font-size);
    font-weight: 900;
}
.stats-card-content .stat-description {
    font-size: 1.5rem;
    margin-top: var(--calculated-margin-block);
}
.stats-field__accent-logo {
    position: absolute;
    width: 90rem;
    right: 0rem;
    bottom: -30rem;
    pointer-events: none;
}
.stats-field__footer {
    text-align: center;
    max-width: 50ch;
    font-size: 2rem;
    align-self: center;
    font-weight: 500;
}

/*
*
*
*
footer
*
*
*
*/
footer {
    background-color: white;
}

footer .footer-section {
    padding-block: calc(var(--margin-block) * 0.4);
    border-bottom: 1px solid var(--off-white-color);
}

.email-collector .email-input {
    display: flex;
    border-radius: var(--card-border-radius);
    overflow: hidden;
}
.email-collector .email-input input[type="email"] {
    background-color: var(--off-white-color);
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    flex-grow: 1;
}

.email-collector .email-input input[type="email"]::placeholder {
    opacity: 0.8;
}
.email-collector .email-input button {
    padding: 1rem 1.5rem;
    background-color: var(--accent-color);
    color: white;
}
.social-follow h3 {
    margin-bottom: 2rem;
}
.social-follow .social-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.social-follow .social-list .social-icon {
    display: grid;
    place-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--off-white-color);
    font-size: 1.8rem;
    color: var(--accent-color);
}
.social-follow .social-list .social-icon:hover {
    color: white;
    background-color: var(--accent-color);
}

.popular-links ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 17rem;
    list-style: none;
    max-width: 60%;
}

.copyright {
    padding-block: 1.5rem;
}

/* navigation bar */
header {
    z-index: 900;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    color: var(--off-white-color);
    width: 100%;
    padding-block: 20px;
    border-bottom: 1px solid var(--soft-gray);
    transition: 0.3s;
}

header.light {
    background-color: white;
    color: var(--type-color);
}
header.always-light {
    background-color: white !important;
    color: var(--type-color) !important;
}
header .header__logo img[data-background="light"] {
    display: none;
}
header.light .header__logo img[data-background="light"] {
    display: block;
}
header.always-light .header__logo img[data-background="light"] {
    display: block !important;
}
header.light .header__logo img[data-background="transparent"] {
    display: none;
}
header.light .fa-chevron-down {
    color: var(--accent-color);
}

.header__logo_search_field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    width: 180px;
    aspect-ratio: 3.28;
}
.header__search_option {
    font-size: 1.6rem;
    cursor: pointer;
}
.header__search_option span {
    position: relative;
}
.header__search_option span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2.25px;
    width: 100%;
    background-color: var(--accent-color);
}
.header__search_option .fa-search {
    display: none;
}
nav .header__main-menu {
    display: flex;
    gap: 3.5rem;
    margin-top: 30px;
}
.header__nav_option {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    gap: 0.7rem;
    cursor: pointer;
}
.header__right-group {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header__hamburger-menu {
    display: none;
    font-size: inherit;
}
.header__hamburger-menu .fa-xmark {
    display: none;
}
.header__nav_option .fa-chevron-down {
    font-size: 1.1rem;
}

.header__submenu {
    background-color: white;
    height: 0px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    transition: 0.3s;
    color: var(--type-color);
}
.header__placeholders-wrapper {
    display: flex;
    gap: 6rem;
}
.header__submenu__placeholder,
.header__subsubmenu__placeholder {
    transition: 0.3s;
    padding-block: calc(var(--margin-block) * 0.6);
}
.header__submenu__content h3,
.header__subsubmenu__content h3 {
    margin-bottom: 2.7rem;
}
.header__submenu__content .submenu-list,
.header__subsubmenu__content .submenu-list {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
    max-width: 65ch;
}

.header__submenu__separator {
    width: 1px;
    background-color: var(--soft-gray);
    padding-block: var(--margin-block);
    align-self: center;
    opacity: 0;
}
#subsubmenu-title {
    opacity: 0.6;
}

/* bread crumbs */
.bread-crumbs-container {
    padding-top: 5rem;
}
.bread-crumb,
.bread-crumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
}

.bread-crumb .chip {
    padding: 0.5rem 1.5rem;
    border-radius: var(--card-border-radius);
    background-color: #734e4f44;
    color: #675b5bcc;
    font-weight: 800;
}

.bread-crumb:last-of-type img {
    display: none;
}

/* under hero: hero summary */
.hero-summary {
    padding-block: calc(var(--margin-block) * 0.4);
}
.hero-summary__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.hero-summary__content .read-more {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.hero-summary__content .read-more i {
    color: var(--accent-color);
}
.hero-summary__image-credit {
    font-size: 1.1rem;
}

/* secondary hero */
.hero__secondary {
    background-color: white;
    position: relative;
    border-bottom: 1px solid var(--soft-gray);
    overflow: hidden;
}
.hero__secondary .logo-accent {
    width: 250px;
    position: absolute;
    bottom: 0;
    transform: translateY(40%);
    right: 0;
}
.hero__secondary__content {
    padding-block: calc(var(--margin-block) * 0.5);
}
.hero__secondary__content .hero__secondary__content__page-title {
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 2rem;
}
.hero__secondary__content .hero__secondary__content__page-description {
    max-width: 50%;
}

/* person card */
.person-card {
    padding: 1rem 1.8rem;
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    gap: 2rem;
    background-color: white;
    border-radius: var(--card-border-radius);
}
.person-card__img {
    width: 100%;
    aspect-ratio: 1;
}
.person-card__info {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.person-card__name {
    font-size: 1.9rem;
    font-weight: bold;
}

/* book details */

.book-details-overview__cover {
    width: 550px;
    aspect-ratio: 1;
    float: left;
    margin-right: 4rem;
    margin-bottom: 2rem;
}
.book-details-overview__cover img {
    border-radius: var(--card-border-radius);
}
.book-details-overview__content p {
    font-size: 2rem;
    margin-bottom: 3rem;
}
.book-details-overview__purchaseBtn,
.book-details-overview__downloadBtn {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.65rem;
    padding: 0.6rem 1.8rem;
    width: fit-content;
    color: var(--off-white-color);
    background: linear-gradient(90deg, #b00002 0%, #e4322f 100%);
    border-radius: var(--card-border-radius);
    margin-left: auto;
    margin-top: 4rem;
}
.book-details-overview__downloadBtn{
    margin: 0;
}

.book-details-overview__email-download {
    margin-top: 4rem;
}
.book-details-overview__email-download .email-downlaod-input {
    background-color: var(--off-white-color);
    display: block;
    padding: 0.6rem 1.5rem;
    font-size: 1.6rem;
    border-radius: var(--card-border-radius);
    width: 30rem;
}







/* article details */

.article-hero{
    border-bottom: 1px solid var(--soft-gray);
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.article-hero__header{
    margin-bottom: 3rem;
}
.article-hero__header__title{
    font-size: 4rem;
    font-weight: 900;
}
.article-hero__media{
    width: 100%;
    border-radius: var(--card-border-radius);
    overflow: hidden;
}
.article-hero__metadata{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.article-hero__metadata .meta{
    font-size: 1.5rem;
}
.article-content p{
    font-size: 1.8rem;
}
.article-details__subscribeBtn{
    padding: .7rem 2rem;
    border-radius: var(--card-border-radius);
    text-align: center;
    font-size: 1.5rem;
}
.email-newsletter-input{
    background-color: var(--off-white-color);
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
}




