* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    --inline-padding: 18rem;
    --margin-block: 5rem;

    --accent-color: #c20002;
    --off-white-color: #ecedf2;
    --soft-gray: #e6e6e6;
    --type-color: #101010;

    --carousel-items-spacing: 1rem;
    --card-border-radius: 6px;

    --underline-gradient: linear-gradient(90deg, #e60000, #4d0101);

    --container-width: calc(100vw - calc(2 * var(--inline-padding)));
}

body {
    font-family: calibre, helvetica, arial, sans-serif;
    font-weight: 400;
    color: var(--type-color);
    background-color: var(--off-white-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.3rem;
}

/*
*
*
*
utility
*
*
*
*/
.container {
    margin-inline: auto;
    max-width: var(--container-width);
}

.img {
    position: relative;
}

.img-6_9 {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
    height: 0;
}

.img img,
.img-6_9 img {
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    object-fit: cover;
}

.meta {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 1.3;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.45rem;
}

a {
    text-decoration: none;
    color: unset;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
input{
    all: unset;
}
.link:hover {
    text-decoration: underline;
}


.underline-effect {
    width: 100%;
    background-image: var(--underline-gradient);
    background-repeat: no-repeat;
    background-size: 0 0.15rem;
    background-position: 0 100%;
    transition: background-size 0.6s ease-in-out 0s;
}
.underline-effect:hover {
    background-size: 100% 0.15rem;
    text-decoration: none;
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.card-title {
    font-size: 1.9rem;
    font-weight: 700;
    line-height: 90%;
}
.card-subtitle {
    font-size: 1.3rem;
    font-weight: 400;
}
.text-secondary{
    opacity: .85;
}


/*
*
*
*
hero
*
*
*
*/
.hero__section {
    height: 90vh;
    min-height: 90vh;
    max-height: 90vh;
    overflow: hidden;
    position: relative;
}

.hero__section .hero__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.hero__section .hero__image::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        180deg,
        #1e1e1e 0%,
        rgba(30, 30, 30, 0) 54.17%,
        #1e1e1e 100%
    );
}

.hero__section .hero__content {
    z-index: 2;
    position: absolute;
    bottom: 4rem;
    left: var(--inline-padding);
    max-width: 50%;
    color: var(--off-white-color);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.hero__section .hero__content a,
.hero__section .hero__content p,
.hero__section .hero__content h1 {
    color: var(--off-white-color);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.hero__content .hero__title a {
    font-size: 4rem;
    font-weight: 800;
    line-height: 108.5%;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.hero__content .hero__meta {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    color: var(--off-white-color);
}

/*
*
*
*
sections
*
*
*
*/
.block-section {
    margin-block: var(--margin-block);
}
.section-title {
    margin-bottom: 2rem;
}

/*
*
*
*
cards
*
*
*
*/
.card {
    border-radius: var(--card-border-radius);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    transition: 0.3s ease;
}

.card__media {
    position: relative;
}

.card__header {
    margin-bottom: 1rem;
}

.card__body {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

/*
*
*
*
carousel swiper
*
*
*
*/
.carousel-container {
    position: relative;
}
.swiper {
    position: relative;
    width: var(--container-width);
}
.swiper .swiper-wrapper {
    position: relative;
    display: flex;
    /* justify-content: stretch; */
}
/* .swiper-slide {
    padding-right: var(--carousel-items-spacing);
} */
.card-trio{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.carousel-prev-btn,
.carousel-next-btn {
    display: grid;
    place-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;

    position: absolute;
    top: 50%;
    translate: 0 -50%;
}
.carousel-prev-btn:hover,
.carousel-next-btn:hover {
    background-color: var(--soft-gray);
}
.carousel-prev-btn svg,
.carousel-next-btn svg {
    width: 2rem;
    height: 2rem;
}
.carousel-prev-btn svg path,
.carousel-next-btn svg path {
    stroke: var(--accent-color);
}
.carousel-next-btn {
    right: -7rem;
    padding-left: 0.3rem;
}
.carousel-prev-btn {
    left: -7rem;
    padding-right: 0.3rem;
}


/*
*
*
*
footer
*
*
*
*/
footer {
    background-color: white;
}

footer section {
    padding-block: calc(var(--margin-block) * 0.7);
    border-bottom: 1px solid var(--off-white-color);
}

footer .social-reach {
    display: flex;
    justify-content: space-between;
}
footer .social-reach .email-collector{
    max-width: 40%;
}
footer .social-reach .email-collector h3{
    margin-bottom: 1rem;
}
footer .social-reach .email-collector p{
    margin-bottom: 2rem;
}
footer .social-reach .email-collector .email-input{
    display: flex;
    border-radius: var(--card-border-radius);
    overflow: hidden;
}
footer .social-reach .email-collector .email-input input[type=email]{
    background-color: var(--off-white-color);
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    flex-grow: 1;
}
footer .social-reach .email-collector .email-input input[type=email]::placeholder{
    opacity: .8;
}
footer .social-reach .email-collector .email-input button{
    padding: 1rem 1.5rem;
    background-color: var(--accent-color);
    color: white;
}
footer .social-reach .social-follow{
    max-width: 40%;
}
footer .social-reach .social-follow h3{
    margin-bottom: 2rem;
}
footer .social-reach .social-follow .social-list{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
footer .social-reach .social-follow .social-list .social-icon{
    display: grid;
    place-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--off-white-color);
    font-size: 1.8rem;
    color: var(--accent-color);
}
footer .social-reach .social-follow .social-list .social-icon:hover{
    color: white;
    background-color: var(--accent-color);
}


footer .popular-links h3{
    margin-bottom: 2.5rem;
}
footer .popular-links ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 17rem;
    list-style: none;
    max-width: 60%;
}

footer .popular-links ul li{
    margin-bottom: 1.6rem;
    line-height: 1.3;
}
footer .popular-links ul li a{
    padding-bottom: 0.3rem;
}
footer .copyright{
    padding-block: 1.5rem;
}





/* navigation bar */
header{
    z-index: 900;
    position: fixed;
    left: 0;
    right: 0;
    color: var(--off-white-color);
    width: 100%;
    padding-block: 20px;
    border-bottom: 1px solid var(--soft-gray);
    transition: .3s;
}


header.light{
    background-color: white;
    color: var(--type-color);
}
header .header__logo img[data-background=light]{
    display: none;
}
header.light .header__logo img[data-background=light]{
    display: block;
}
header.light .header__logo img[data-background=transparent]{
    display: none;
}
header.light .fa-chevron-down{
    color: var(--accent-color);
}

.header__logo_search_field{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    width: 180px;
    aspect-ratio: 3.28;
}
.header__search_option{
    font-size: 1.6rem;
    cursor: pointer;
}
.header__search_option span{
    position: relative;
}
.header__search_option span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2.25px;
    width: 100%;
    background-color: var(--accent-color);
}
.header__search_option .fa-search{
    display: none;
}
nav .header__main-menu{
    display: flex;
    gap: 3.5rem;
    margin-top: 30px;
}
.header__nav_option{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    gap: .7rem;
    cursor: pointer;
}
.header__right-group{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header__hamburger-menu{
    display: none;
    font-size: inherit;
}
.header__hamburger-menu .fa-xmark{
    display: none;
} 
.header__nav_option .fa-chevron-down{
    font-size: 1.1rem;
}

.header__submenu{
    background-color: white;
    height: 0px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    transition: .3s;
    color: var(--type-color);
}
.header__placeholders-wrapper{
    display: flex;
    gap: 4rem;
}
.header__submenu__placeholder,
.header__subsubmenu__placeholder{
    transition: .3s;
    padding-block: calc(var(--margin-block) * 1);
}
.header__submenu__content h3{
    margin-bottom: 2.7rem;
}
.header__submenu__content .submenu-list,
.header__subsubmenu__content .submenu-list{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
    max-width: 65ch;
}
.header__subsubmenu__placeholder{
    margin-top: 4.3rem;
    border-left: 1px solid var(--soft-gray);
    padding-left: 3rem;
}




/* articles gallery section */
.articles-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.articles-gallery:nth-child(1){
    grid-template-columns: 1.5fr 1.5fr;
}

